body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;

}

.header {
  background: #fbf9f9;
  margin: 0 auto;

}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;

}



.header-utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.form-logout{
  height: 50px;
}

.header__logo {
  color: #020202;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  padding-left:10px ;
  text-align: left;

}

.header-nav__item{
  height: 10px;
}


.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.header-nav__link {
  color: #fff;
  text-decoration: none;
}

.header-nav__button {
  border: none;
  background: transparent;
  color: #080808c6;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
      width: 80px;
    height: 30px;

}

main{
    flex: 1;
    padding: 20px;
    min-height: calc(100vh - 150px);
   background-color: #c5c5c58d;
}

footer {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}